<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type"
              content="text/html; charset=utf-8" />
        <title>Twitter. É o que está acontecendo.</title>
        <link rel="icon" href="/images/logo.png"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    
    <body>
        
        <div class="fundo_branco">
             <div class="conteudo2"> 
                <div class="caixa1"> <img class="caixa_img" src="/images/logo.png"> </img> </div>
                <div class="caixa2">
                    <div class="entrar">
                       <b> Entrar </b>
                    </div>
                </div>
                <div class="caixa3">
                    <b> Veja o que está acontecendo no mundo agora </b>
                </div>
                <div class="caixa4">
                    <b>Participe hoje do Twitter.</b>
                </div>
                <div class="caixa5">
                    <div class="inscreva">
                       <b> Inscreva-se </b>
                    </div>

                </div>
                <div class="caixa6">
                    <div class="entrar">
                       <b> Entrar </b>
                    </div>
                </div>
             </div>
         </div>
        
        <div class="fundo_azul">

            <table class="conteudo1">
                <tr>
                    <td> <img class="icone_img" src="/images/search.png"></img> </td>
                    <td> <b> Siga o que lhe interessa. </b> </td>
                </tr>
                <tr>
                    <td> <img class="icone_img" src="/images/icon.png"></img> </td>
                    <td> <b> Saiba sobre o que as pessoas estão falando. </b> </td>
                </tr>
                <tr>
                    <td> <img class="icone_img" src="/images/chat.png"></img> </td>
                    <td> <b> Participe da conversa. </b> </td>
                </tr>
            </table>
	</div>
         
         <div class="rodape">

           <ul> 
                <li> <a class="link_rodape" href="pagina"> Sobre </a></li>
               <li> <a class="link_rodape" href="pagina"> Central de Ajuda</a></li>
                    <li><a class="link_rodape" href="pagina"> Blog </a></li>
                    <li><a class="link_rodape" href="pagina"> Status </a></li>
                    <li><a class="link_rodape" href="pagina"> Empregos </a></li>
                    <li><a class="link_rodape" href="pagina"> Termos </a></li>
                    <li><a class="link_rodape" href="pagina"> Política de Privacidade </a></li>
                    <li><a class="link_rodape" href="pagina"> Cookies </a></li>
                    <li><a class="link_rodape" href="pagina"> Informações de anúncios </a></li>
                    <li><a class="link_rodape" href="pagina"> Marca </a></li>
                    <li><a class="link_rodape" href="pagina"> Aplicativos </a></li>
                    <li><a class="link_rodape" href="pagina"> Anunciante </a></li>
                    <li><a class="link_rodape" href="pagina"> Marketing </a></li>
                    <li><a class="link_rodape" href="pagina"> Empresas </a></li>
                    <li><a class="link_rodape" href="pagina"> Programadores </a></li>
                    <li><a class="link_rodape" href="pagina"> Diretório </a></li>
                    <li> <a class="link_rodape" href="pagina">Configurações</a></li> 
                    <li> @2019 Twitter</li> 
            </ul>
         

        </div>
        
       
    </body>
 
</html>
